@charset "utf-8";
.normal {
	width: 100%;
	height: 600px;
	color: transparent;
	margin: 0 auto 50px;
}
#china, #bmap {
	width: 1200px;
}
#china2 {
	height: 800px;
}
.anchorBL {
	display:none;
}
.nav {
	margin: 0;
	padding: 0;
	color: #fff;
	list-style: none;
	overflow: hidden;
	background-color: #333;
	transition: 0.4s ease-out;
	border-radius: 10px 0 0 10px;
	transform: translateY(-50%);
	position: fixed;
	top: 50%;
	right: -155px;
}
.nav:hover {
	right: 0;
}
.nav li {
	cursor: pointer;
	line-height: 40px;
	padding: 0 10px;
	transition: 0.4s;
}
.nav li:hover, .nav li.active {
	background-color: #08f;
}
.nav i {
	width: 20px;
	text-align: center;
	margin-right: 10px;
	display: inline-block;
}
.backbtop {
	display: none;
	width: 40px;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	background-color: #333;
	transition: 0.4s;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.backbtop:hover {
	background-color: #08f;
}
