$green: #41B883;

body {
    background-color: #fafafa;
}

.table {
    width: 500px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    ul {
        height: 40px;
        display: flex;
        overflow: hidden;
    }
    li {
        width: 100px;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        &:not(:last-child) {
            border-right: 1px solid #ccc;
        }
    }
    .ul-del {
        height: 0;
        transition: ease-out 0.4s;
    }
    .add-line, .done {
        color: $green;
    }
    .thead, .tbody ul {
        border-bottom: 1px solid #ccc;
    }
    .del, .done, .add-line {
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
    .input {
        width: 100%;
        height: 100%;
        font-size: 16px;
        text-align: center;
        border: none;
        &.active {
            box-shadow: 0 0 0 1px $green inset;
        }
    }
    .input.fail, .sex.fail {
        box-shadow: 0 0 0 1px #f00 inset;
    }
    
    .thead {
        color: #fff;
        background-color: $green;
    }
    
    .tbody{
        ul:nth-child(2n) {
            background-color: #f5f5f5;
        }
        li {
            padding-bottom: 1px;
        }
        .del {
            color: #f00;
            i {
                font-size: 18px;
            }
        }
    }
    
    .add {
        height: 40px;
        overflow: hidden;
        background-color: #fff;
        &.active {
            position: relative;
            z-index: 1;
            .add-content {
                transform: translateY(-50%);
            }
        }
        .add-content {
            transition-duration: 0.4s;
            .add-line {
                display: block;
                font-size: 24px;
                line-height: 40px;
                background-color: #fff;
            }
            .add-input {
                .sex {
                    display: flex;
                    cursor: pointer;
                    .sex-option {
                        flex: 1;
                        &+.sex-option {
                            border-left: 1px solid #ccc;
                        }
                        &.active {
                            box-shadow: 0 0 0 1px $green inset;
                        }
                    }
                }
            }
        }
    }
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.1);
        transition: opacity 0.4s ease-out, transform 0s 0.4s;
        transform: translateX(100%);
        opacity: 0;
        &.active {
            transition: opacity 0.4s ease-out, transform 0s 0s;
            transform: translateX(0);
            opacity: 1;
        }
    }
}

